<div class="modal-header">
  <h4 class="modal-title pull-left">Accounts Overview</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h3>Accounts</h3>
  <div *ngFor="let account of accounts$ | async">
    {{ account.address }}
    <span class="badge badge-light ml-2">{{ account.type }}</span
    ><button
      type="button"
      class="btn btn-primary"
      (click)="removeAccount(account)"
    >
      Remove
    </button>
  </div>
  <h3>Add Accounts</h3>
  Beacon Wallet
  <button type="button" class="btn btn-primary" (click)="addBeaconWallet()">
    Pair
  </button>
  <hr />
  Watch Only Wallet
  <input type="text" [(ngModel)]="address" />
  <br />
  <button type="button" class="btn btn-primary" (click)="addWatchOnlyWallet()">
    Add Watch Only Wallet
  </button>

  <hr />
  Mnemonic
  <button type="button" class="btn btn-primary" (click)="addMnemonic()">
    Add Mnemonic
  </button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
